.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footer a{
  color: inherit; /* inherit  to get the same collor of the text on footer */
  font-weight: 600;
}

